*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito',sans-serif;
}
body{
    background-color: #5d666e;
}
.wrapper{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.statistic{
    width: 100%;
}

.total_case_box{
    
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.total_case_box p{
    font-size: 3rem;
}
.wrapper .box_wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box_wrapper .box{
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 5px;
    width:25%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    text-transform: uppercase;
}
.box_wrapper .box p{
    font-size: 2.5rem;
}


/*Styiling the table*/
table{
    width: 100%;
    padding: 15px 10px;
    margin: 0 10px 0 0;
    text-align: center;
    border-spacing: 0;
}
tr:first-child{
    background-color: #37474f;
    color: #fafafa;
    text-transform: uppercase;
}
th{
    padding: 15px 0;
    border: none;
    border-spacing: 0;
    
}
tr:nth-child(even){
    background-color: #fafafa;
    
    
}
tr:nth-child(odd){
    background-color: #424242;
    color: #fafafa;
}
tr td{
    padding: 15px 0; 
}

#myInput {
    background-image: url('./img/search-icon-30x30.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    font-size: 16px;
    margin: 10px 0;
    padding: 15px 15px 15px 50px;
    border: 1px solid #ddd;
  }

  ol {
      padding: 0 0 0 40px;
      margin-bottom: 15px;
  }

  ul {
    padding: 0 0 0 40px;
    margin-bottom: 15px;
}

  .blockquote {
      font-size: medium;
  }

  .blockquote-footer {
      margin-top: 20px;
  }

  .card-body {
    text-align: justify;
    text-justify: inter-word;
  }

  .btn {
      text-align: left;
      margin-bottom: 5px;
  }

  /* ------------------------------------------- */

  @media (min-width: 320px) {
    .wrapper {
        max-width: 300px;
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 0.75rem;
    }
    .box_wrapper .box p{
        font-size: 0.50rem;
    }
    #countries_stat #response{
        font-size: 0.50rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    p {
        margin-bottom: 0px;
    }
    #myInput {
        background-image: url('./img/search-icon-15x15.png');
        background-position: 7px 5px;
        background-repeat: no-repeat;
        width: -webkit-fill-available;
        font-size: 10px;
        margin: 10px 0;
        padding: 5px 10px 5px 30px;
        border: 1px solid #ddd;
      }
    tr td {
        padding: 8px 0;
        font-size: 0.50rem;
    }

    th {
        padding: 8px 0;
        font-size: 0.50rem;
    }
    .total_case_box {
        background-color: #fafafa;
        box-shadow: 2px 2px 8px rgba(30,30,30,.2);
        margin: 10px 0;
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .blockquote {
        font-size: small;
    }
  
    .blockquote-footer {
        margin-top: 0px;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 3rem;
    }
    .mb-0 {
        margin-top: -10px;
    }
    .btn-link {
        font-size: 0.75rem;
    }
    ol, ul {
        padding: 0 0 0 15px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: medium;
    }
  }

  @media (min-width: 414px) {
    .wrapper {
        max-width: 394px;
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 0.75rem;
    }
    .box_wrapper .box p{
        font-size: 0.75rem;
    }
    #countries_stat #response{
        font-size: 0.75rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    p {
        margin-bottom: 0px;
    }
    #myInput {
        background-image: url('./img/search-icon-20x20.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: -webkit-fill-available;
        font-size: 15px;
        margin: 10px 0;
        padding: 10px 10px 10px 40px;
        border: 1px solid #ddd;
      }
    tr td {
        padding: 15px 0;
        font-size: 0.75rem;
    }

    th {
        padding: 15px 0;
        font-size: 0.75rem;
    }
    .total_case_box {
        background-color: #fafafa;
        box-shadow: 2px 2px 8px rgba(30,30,30,.2);
        margin: 10px 0;
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .blockquote {
        font-size: small;
    }
  
    .blockquote-footer {
        margin-top: 0px;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 3rem;
    }
    .mb-0 {
        margin-top: -10px;
    }
    .btn-link {
        font-size: 0.75rem;
    }
    ol, ul {
        padding: 0 0 0 15px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: medium;
    }
  }

    @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 1rem;
    }
    .box_wrapper .box p{
        font-size: 0.75rem;
    }
    #countries_stat #response{
        font-size: 0.75rem;
    }
    #myInput {
    background-image: url('./img/search-icon-30x30.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    font-size: 16px;
    margin: 10px 0;
    padding: 15px 15px 15px 50px;
    border: 1px solid #ddd;
    }

    .blockquote {
        font-size: medium;
    }

    tr td {
    padding: 15px 0;
    font-size: 0.75rem;
    }

    th {
        padding: 15px 0;
        font-size: 0.75rem;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 4rem;
    }
    .mb-0 {
        margin-top: 0px;
    }
    .btn-link {
        font-size: 1rem;
    }
    ol, ul {
        padding: 0 0 0 40px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px;
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 1rem;
    }
    .box_wrapper .box p{
        font-size: 1rem;
    }
    #countries_stat #response{
        font-size: 1rem;
    }
    #myInput {
        background-image: url('./img/search-icon-30x30.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: -webkit-fill-available;
        font-size: 16px;
        margin: 10px 0;
        padding: 15px 15px 15px 50px;
        border: 1px solid #ddd;
    }

    .blockquote {
        font-size: medium;
    }

    tr td {
        padding: 15px 0;
        font-size: 1rem;
    }
    th {
        padding: 15px 0;
        font-size: 1rem;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 4rem;
    }
    .mb-0 {
        margin-top: 0px;
    }
    .btn-link {
        font-size: 1rem;
    }
    ol, ul {
        padding: 0 0 0 40px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 1.25rem;
    }
  }
  
  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px;
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 1.5rem;
    }
    .box_wrapper .box p{
        font-size: 1.5rem;
    }
    #countries_stat #response{
        font-size: 1rem;
    }
    #myInput {
        background-image: url('./img/search-icon-30x30.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: -webkit-fill-available;
        font-size: 16px;
        margin: 10px 0;
        padding: 15px 15px 15px 50px;
        border: 1px solid #ddd;
    }

    .blockquote {
        font-size: medium;
    }

    tr td {
        padding: 15px 0;
        font-size: 1rem;
    }
    th {
        padding: 15px 0;
        font-size: 1rem;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 4rem;
    }
    .mb-0 {
        margin-top: 0px;
    }
    .btn-link {
        font-size: 1rem;
    }
    ol, ul {
        padding: 0 0 0 40px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 1.25rem;
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px;
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .total_case_box p{
        font-size: 1.5rem;
    }
    .box_wrapper .box p{
        font-size: 1.5rem;
    }
    #countries_stat #response{
        font-size: 1rem;
    }
    #myInput {
        background-image: url('./img/search-icon-30x30.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: -webkit-fill-available;
        font-size: 16px;
        margin: 10px 0;
        padding: 15px 15px 15px 50px;
        border: 1px solid #ddd;
    }

    .blockquote {
        font-size: medium;
    }
    
    tr td {
        padding: 15px 0;
        font-size: 1rem;
    }
    th {
        padding: 15px 0;
        font-size: 1rem;
    }
    .card-header {
        padding: .75rem 1.25rem;
        height: 4rem;
    }
    .mb-0 {
        margin-top: 0px;
    }
    .btn-link {
        font-size: 1rem;
    }
    ol, ul {
        padding: 0 0 0 40px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 1.25rem;
    }
  }