*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito',sans-serif;
}
body{
    background-color: #5d666e;
}
.wrapper{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.statistic{
    width: 100%;
}

.total_case_box{
    
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.total_case_box p{
    font-size: 3rem;
}
.wrapper .box_wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box_wrapper .box{
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 5px;
    width:25%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    text-transform: uppercase;
}
.box_wrapper .box p{
    font-size: 2.5rem;
}


/*Styiling the table*/
table{
    width: 100%;
    padding: 15px 10px;
    margin: 0 10px 0 0;
    text-align: center;
    border-spacing: 0;
}
tr:first-child{
    background-color: #37474f;
    color: #fafafa;
    text-transform: uppercase;
}
th{
    padding: 15px 0;
    border: none;
    border-spacing: 0;
    
}
tr:nth-child(even){
    background-color: #fafafa;
    
    
}
tr:nth-child(odd){
    background-color: #424242;
    color: #fafafa;
}
tr td{
    padding: 15px 0;
    
    
}

#myInput {
    background-image: url('./img/search-icon-30x30.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    font-size: 16px;
    margin: 10px 0;
    padding: 15px 15px 15px 50px;
    border: 1px solid #ddd;
  }

  ol {
      padding: 0 0 0 40px;
      margin-bottom: 15px;
  }

  ul {
    padding: 0 0 0 40px;
    margin-bottom: 15px;
}

  .blockquote {
      font-size: medium;
  }

  .blockquote-footer {
      margin-top: 20px;
  }

  .card-body {
    text-align: justify;
    text-justify: inter-word;
  }

  .btn {
      text-align: left;
  }

  /* ------------------------------------------- */

    @media (min-width: 576px) {
    .wrapper {
      max-width: 540px
    }
    .total_case_box p{
        font-size: 1rem;
    }
    .box_wrapper .box p{
        font-size: 0.75rem;
    }
    #countries_stat{
        font-size: 0.75rem;
    }
  }
  
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px
    }
    .total_case_box p{
        font-size: 1rem;
    }
    .box_wrapper .box p{
        font-size: 1rem;
    }
    #countries_stat{
        font-size: 1rem;
    }
  }
  
  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px
    }
    .total_case_box p{
        font-size: 1.5rem;
    }
    .box_wrapper .box p{
        font-size: 1.5rem;
    }
    #countries_stat{
        font-size: 1rem;
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px
    }
    .total_case_box p{
        font-size: 1.5rem;
    }
    .box_wrapper .box p{
        font-size: 1.5rem;
    }
    #countries_stat{
        font-size: 1rem;
    }
  }